attrs==22.2.0
click==8.0.3
coverage==7.2.3
Flask==2.2.3
Flask-SQLAlchemy==3.0.3
importlib-metadata==4.6.4
iniconfig==2.0.0
MarkupSafe==2.1.2
packaging==23.0
pluggy==1.0.0
py==1.11.0
pyparsing==2.4.7
pytest==7.3.0
tomli==2.0.1
typing_extensions==4.5.0
Werkzeug==2.2.3
zipp==1.0.0
